<div class="payslip-container">
    <div class="date-selector">
        <button class="btn btn-success" (click)="prevMonth()"><i class="fas fa-angle-left"></i></button>
        <label class="date">{{getMonth()}} {{getYear()}}</label>
        <button class="btn btn-success" (click)="nextMonth()"><i class="fas fa-angle-right"></i></button>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Gross</th>
                    <th>Tax</th>
                    <th>Net</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody *ngFor="let p of payslips">
                <tr>
                    <td>{{p.date}}</td>
                    <td>{{p.gross}}</td>
                    <td>{{p.tax}}</td>
                    <td>{{p.net}}</td>
                    <td>
                        <button class="btn btn-success" id="download" type="button" data-toggle="tooltip"
                            data-placement="top" title="Download">
                            <i class="far fa-file-pdf"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>