.login-container {  
    padding-top: 10vh;  
    .login-icon {
        display: flex;
        justify-content: center;
        font-size: min(40vw, 400px);
    }
    .login-form {          
        display: flex;
        justify-content: center;

        form {          
            font-size: min(3vw, 24px);  
            padding: 1em;
            background-color: #e9ecef;      
            width: min(50vw, 500px);
            border-radius: 0.4em;

            input, button {
                font-size: 0.8em;
            }    
        }
    }
}