<div class="main-container">
    <app-side-nav [sideNavClosed]="sideNavClose"></app-side-nav>
    <div class="content">
        <nav class="top-bar">
            <button class="btn toggle-nav" (click)="toggleNav()">
                <i class="fas fa-angle-left" *ngIf="!sideNavClose"></i>
                <i class="fas fa-bars"></i>
                <i class="fas fa-angle-right" *ngIf="sideNavClose"></i>
            </button>
            <button class="btn logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
        </nav>
        <div class="page-container" [ngClass]="{'side-nav-open': !sideNavClose}">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>