$borderRadius: 3px;
.home-container {
    padding: 1.5vw;
    font-size: 1.7vmin;

    .charts-container {        
        border-radius: $borderRadius;
        background-color: #e9ecef;
        padding: min(1.5vw, 20px);
        display: flex;
        justify-content: space-around;        
        flex-wrap: wrap;
        align-items: center;
        font-size: inherit;

        @media (min-device-width: 568px) {                       
            flex-direction: row;            
            app-chart {
                width: 30%;
            }                        
        }
        
        @media (max-device-width: 567px) {      
            flex-direction: column;        
            app-chart {
                width: 85%;
                margin: 2em 0;
            }
        }
    }

    .news-container {
        border-radius: $borderRadius;  
        font-size: inherit;
        margin-top: 1.5em;
        padding: 1em;
        background-color: #e9ecef;
        width: 100%;
        min-height: 10em;
    }
}